.doughnut-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.doughnut {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-total {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}
