.foldable-sidebar {
    width: 25%;
    min-width: 250px;
    background-color: #333;
    color: white;
    overflow: hidden;
    transition: width 0.3s;
}

.sidebar-item {
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sidebar-item:hover {
    background-color: #444;
}

.expanded {
    width: 100%;
}

.sub-items {
    list-style-type: none;
    padding-left: 20px;
    margin-top: 5px;
}

.sub-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    border-top: 1px solid #666;
}

.account-amount {
    font-weight: bold;
    color: #aaf;
    margin-right: 1rem;
}


/*NET WORTH SECTION*/
.total-net-worth {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-top: 1px solid #666;
    font-weight: bold;
}

.net-worth-amount {
    color: #aaf;
}
